body { 
    background-color: #e9e0c7;
    background-image: url(background.png);
    background-repeat: repeat;
    color: #ffffff;
}

#Title {
    text-align: center;
    color: #c77638;
    margin-top: 40px;
    font-size: 32px;
}

#searchbox{
    width: 45%;
    height: 4%;
    border: none;
    border-radius: 2px;
    outline: none;
    padding-left: 15px;
    text-align: left;
    background-color: white;
    color: #333;
    display: block;
    margin: auto;
    margin-top: 50px;
}

#strip {
    width: 100%;
    vertical-align: middle;
}

#window {
    text-align: center;
    position: absolute;
    top: 18%;
    left: 0%;
    right: 0%;
}

.window {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-columns: minmax(100px, auto);
}

#linkblock {
    width: 17.5%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-left: 14px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 285px;
    color: #000;
    text-align: left;
    background-position: center top;
    background-size: cover; 
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: baseline;
}

ul { 
    list-style-type: none;
    padding-left: 0;
    text-transform: lowercase;
} 

a:link { text-decoration:none; font-weight:normal; color:#333; }
a:visited { text-decoration:none; font-weight:normal; color:#333; }
a:hover { text-decoration:none; font-weight:normal; color:#333; }
a:active { text-decoration:none; font-weight:normal; color:#333; }
a:focus { text-decoration:none; font-weight:normal; color:#333; }
